<div class="container container-margin">
    <div class="row">
        <div class="col-xs-12"><h1 class="text-uppercase">AM</h1></div>
    </div>
</div>
<div class="container container-margin">
    <div class="row">
        <div class="col-xs-8 col-sm-6 col-xs-offset-2 col-sm-offset-3">
            <h3>3:00 AM is the most productive time to code!</h3>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-xs-8 col-sm-6 col-xs-offset-2 col-sm-offset-3">
            <blockquote>
                <p>Of course it's not!</p>
                <footer>NROz</footer>
            </blockquote>

        </div>
    </div>
</div>