<div class="container container-margin">
    <div class="row">
        <div class="col-xs-12"><h1 class="text-uppercase">Here</h1></div>
    </div>
</div>
<div class="container container-margin">
    <div class="row">
        <div class="col-xs-12">
            <h3>Welcome on my senseless and non-informative github page.</h3>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-4">
            <p>
                <b>But why this page then?</b>
            </p>
            <blockquote>
                <p>
                    I saw the github page of a former collegue of mine and I said to myself "hey you can do that
                    too while you're working on the relaunch of your private website". My answer was just "Yes, damn
                    good idea!".
                </p>
            </blockquote>
            <p>
                <b>Q: What is red and bad for the teeth?</b>
            </p>
            <blockquote>
                <p>
                    A brick.
                </p>
            </blockquote>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4">
            <p>
                <b>Q: Do you like boats, snakes or coffee?</b>
            </p>
            <blockquote>
                <p>
                    I like coffe a lot! But if I have to chose my development stack, then I prefer hexagons or elephants
                    running in containers on boats.
                </p>
            </blockquote>
            <p>
                <b>Q: How to code fast and precise?</b>
            </p>
            <blockquote>
                <p>
                    For me, a visual focus on code, coffee, cigarettes and loud rock music or techno is best.
                </p>
            </blockquote>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-4">
            <p>
                <b>Q: How to deal with deadlines?</b>
            </p>
            <blockquote>
                <p>
                    I think the most important thing is a good connection to your customer to define a set of must have
                    features for the launch of the application. Never loose the focus on that features and keep an open
                    eye for aditional features that can be easily implemented without affect the deadline.
                </p>
            </blockquote>
        </div>
    </div>
</div>
<div class="container container-margin">
    <div class="row">
        <div class="col-xs-12">
            <p>As mentioned before you'll be able to find a hundreds more useful sites on github in less than a second.
                But nevertheless you are invited to visite on my further pages and repositories. Maybe you'll find an
                idea that pleases you or an horrible fault in my code. In both and many more cases please leave a
                note.</p>
            <blockquote>
              <p>HALOF</p>
              <footer>my former boss</footer>
            </blockquote>
            <p><b>NROz</b></p>
        </div>
    </div>
</div>