<div class="container container-margin">
    <div class="row">
        <div class="col-xs-12"><h1 class="text-uppercase">I</h1></div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="hidden-xs col-sm-4"><img src="content/img/me.jpg" class="img-responsive img-circle"/></div>
        <div class="col-xs-12 col-sm-8">
            <p>I am NROz.</p>
            <p>Born on the first of january in 1970. Being a full stack web developer for 15 years meanwhile.</p>
            <p>Focus of my professional life are the administration, maintenence and further development of our Java,
                PHP and Javascript based business applications in the intranet and internet.</p>
            <p>Private projects that I've shared on <a href="https://github.com/nroz" target="_blank">github</a> are fun
                projects that usually sprung spontaneously on rainy days, while watching TV or under the shower &mdash;
                and not always for the pleasure of my wife. None of them are planned to be maintained. None of them are
                planned to get "production ready".
            </p>
        </div>
    </div>
</div>